*{ margin: 0px}

.container{
    background-color:rgb(211, 211, 211);
}

.header{ 
    height: 120px;
    width: 100%;
    text-align: left;
    background: url("Imagens/Roxo\ 2.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto{
    border-radius: 0px;
    margin-top: 70px;
}

.cargo{  
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(34, 23, 34);
    font-size: 15px;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
}

img{
    border-radius: 20%;
}

.menu ul{
    background-color: rgb(34, 23, 34);
    height: 50px;
    padding:0px;
    margin: 0px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul li{
    display: inline;
}

.menu ul li a{

    padding: 10px 30px;
    display: inline-block;

    background-color: rgb(34, 23, 34);
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.menu ul li a:hover{
       color:rgb(34, 23, 34);
       background-color:white ;
       border-bottom: 3px solid white;
}

.main{
    background-color: rgb(211, 211, 211);
    height: 570px;
    display: block;
    position: relative;
    max-width:600px;
    margin: auto;
}

.main h1{    
    margin-top: 20px;
    max-width: 135px;
    text-align: Left;
    border-bottom: 3px solid rgb(26, 6, 26);
    color: rgb(26, 6, 26);
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.main h2{    
    margin-top: 30px;
    max-width: 200px;
    text-align: flex;
    border-bottom: 3px double rgb(26, 6, 26);
    color: rgb(26, 6, 26);
    font-size: 18px;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.main h3{    
    margin-top: 30px;
    max-width: 140px;
    text-align: flex;
    border-bottom: 3px double rgb(26, 6, 26);
    color: rgb(26, 6, 26);
    font-size: 18px;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.main p{    
    margin-top: 20px;
    max-width: 600px;
    text-align: flex;
    color: rgb(26, 6, 26);
    font-size: 18px;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.main p1{    
    color: rgb(26, 6, 26);
    font-size: 40px;
    border-bottom: 3px solid rgb(26, 6, 26);
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.footer{
    background-color:gray;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(26, 6, 26);
    font-size: 12px;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
}